@font-face {
    font-family: 'TitleFont';
    src: url('./fonts/IMFeDPsc28P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: TitleFont;
    background-image: url(images/1186452.jpg);
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
}

body h1 {
    color: #a28834;
}

body p {
    color: #fff2c5d0;
}

a {
    color: #a28834;
}

h2 {
    font-size: 2rem; 
    font-weight: bold; 
    color: #a28834; 
}

h3 {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: #a28834; 
}



.toolbar {
    background-color: rgb(21, 21, 21);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-links {
    display: flex;
    list-style: none;
}

.page-links li {
    margin-right: 20px;
}

.page-links li:last-child {
    margin-right: 20px;
}

.page-links li a {
    text-decoration: none;
    color: #a28834;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.page-links li a:hover{
    color: white;
}

.title {
    margin-left: 20px;
    color: #a28834;
}

#fandom-link {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* For image darkening */
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    margin: auto;
}

.content > div {
    margin-bottom: 20px; 
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    margin-top: 10px;
    padding: 10px;
    width: 90%;
}

.description  {
    display: flex;
    flex-direction: column;
    font-size: large;
    width: 80%;
    margin: auto;
}

.overview {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between; 
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    padding: 10px;
    width: 90%;
}

.overview-content {
    width: 50%;
    margin: auto;
}

.morgott-img {
    width: 40%;
    height: auto;
    max-height: 300px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #a28834;
}

.shattering {
    display: flex;
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    padding: 10px;
    width: 90%;
}

.shattering-content {
    margin: auto;
    width: 80%;
}

.moveset {
    display: flex;
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    padding: 10px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.about-fight {
    display: flex;
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    padding: 10px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

/* .table-container {

} */

table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;
    color: #fff2c5a7;

  }
  
  td, th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.332);
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #000000;
  }
  
  tr:nth-child(even) {
    background-color: #a2883412;
    transition: background-color 0.3s ease-in-out;
  }

  tr:hover {
    background-color: #a2883457
  }


.music {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between; 
    border-radius: 10px;
    background-color: rgb(21, 21, 21, 0.7);
    padding: 10px;
    width: 90%;
}

.music-content {
    width: 50%;
    margin: auto;
}

.music-video {
    max-height: 315px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #a28834;
    width: 40%;
}

.boss-fight-video {
    max-height: 315px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #a28834;
    width: 55%;
}

.music-selector select {
    padding: 8px;
    border: 1px solid #a28834;
    border-radius: 5px;
    background-color: #151515;
    color: #a28834;
    font-family: TitleFont;
}

.music-selector h3 {
    color: #a28834;
}